@import "tailwindcss";
:root {
  --background: #ffe16b;
  --foreground: #1d1d1d;
  --foreground-hover: #505050;
  --ui-white: #ffffff;
  --ui-black: #000000;
  --ui-gray: #a3a3a3;
  --ui-gray-hover: #505050;
  --accent: #e95d6c;
  --accent-hover: #d44957;
  --box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.08), 0 1px 2px -1px rgb(0 0 0 / 0.05);
}

:root.dark {
  --background: #1d1d1d;
  --foreground: #edc732;
  --foreground-hover: #ffe16b;
  --ui-white: #2d2d2d;
  --ui-black: #ffffff;
  --ui-gray: #707070;
  --ui-gray-hover: #a2a2a2;
  --accent: #e95d6c;
  --accent-hover: #d44957;
  --box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.15), 0 1px 2px -1px rgb(0 0 0 / 0.10);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--ui-black);
  font-family: var(--font-avenir), Arial, Helvetica, sans-serif;
}

@keyframes shake {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(2deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(-2deg); }
  100% { transform: rotate(0deg); }
}

@keyframes wave {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(14deg); }
  20% { transform: rotate(-8deg); }
  30% { transform: rotate(14deg); }
  40% { transform: rotate(-4deg); }
  50% { transform: rotate(10deg); }
  60% { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}

.animate-wave {
  animation: wave 2s ease-in-out infinite;
  transform-origin: bottom right;
}
